@import '../peliculas/peliculas.component.scss';

.icon-favorito-marcado{
    font-size: 1.5rem;

    align-self: flex-start;
    border: none;
    background-color: none;
    outline: none;
}

.icon-favorito-vacio{
    font-size: 1.5rem;

    align-self: flex-start;
    border: none;
    background-color: none;
    outline: none;
}