/* You can add global styles to this file, and also import other style files */

.btn.up_btn.afu-attach-pin {
  padding: 1%;
  display: block !important;
  width: 40% !important;
  max-width: 90% !important;
  margin-top: 15px;
  border-radius: 15pt;
  border: 1px solid #ad6621;
  background-color: rgb(238, 238, 238);
  margin-bottom: 3%;
  font-size: 1rem;
}
